<a href="https://colab.research.google.com/github/iBoukhenna/ai-masterclass/blob/ml/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For loop

In [2]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 4
Enter the price of the laptop : 5
Enter the price of the laptop : 6

In [3]:
for i in range(5):
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 4
Enter the price of the laptop : 5
Enter the price of the laptop : 6

In [4]:
numbers = [50, 100, 150, 200]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [6]:
numbers = [50, 100, 150, 200]
for i in numbers:
  print(i)

50
100
150
200

#While loop

while condition:
    statement

In [7]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [8]:
i = 5
while i < 3:
  print(i)
  i += 1