<a href="https://colab.research.google.com/github/iBoukhenna/ai-masterclass/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Types of Objects in Python


1.   Immutable Objects
2.   Mutable Objects


Immutable Objects
1.   int
2.   float
3.   bool
4.   tuple

Mutable Objects
1.   List
2.   Set
3.   Dictionary

#List

In [1]:
# list should be included in the sauare barckets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
# list can have multiple data types
my_list = [2, 3, 1.6, 'English', True]
print(my_list)

[2, 3, 1.6, 'English', True]

#List are Mutable --> Changeable

In [3]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [4]:
# print elements of a list ysing their index
print(my_list[0])
print(my_list[2])

2
1.8

In [10]:
# list allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [11]:
print(len(list_1))

8

In [12]:
list_2 = []
print(list_2)

[]

In [14]:
list_2.append(5)
print(list_2)

[5, 5]

In [16]:
# delete an item in a list
list_2 = [2,3,1.8,'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [17]:
# join two lists

list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple

In [18]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [22]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5,"Machine Learning", False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [24]:
# converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [25]:
print(my_tuple[0])
print(my_tuple[1])

3
4

#Tuple are Immutable --> Unchangeable

In [29]:
my_tuple.append(5)

AttributeError: ignored

In [26]:
print(len(my_tuple))

4

#Set

In [28]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)
set
[ ]

{1, 2, 3, 4, 5}

set

In [30]:
print(my_set[0])

TypeError: ignored

In [31]:
# convert a list to a set
list_5 = [4,5,6,7,8]
x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [32]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

#Dictionary

Key-Value Pair

In [33]:
my_dictionary = {'name':'David', 'age':30, 'country':'Algeria'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'Algeria'}

dict

In [34]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
Algeria

In [36]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David', 'age':30, 'country':'Algeria','name':'David', 'age':30, 'country':'Algeria'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'Algeria'}